@model List<Category>
@{
    string action = ViewContext.RouteData.Values["action"].ToString();
}

<div>
    <span>X</span>
    @{
        if (action.Contains("Category"))
        {
            foreach (Category parent in Model)
            {
                <div>
                    <a href="@Url.Action("Category", "Cms", new { categoryId = parent.Id })">@parent.Title</a>
                    <a href="@Url.Action("CategoryAdd", "Cms", new { categoryId = parent.Id })">+</a>
                </div>
                foreach (Category subCat in parent.SubCategories)
                {
                    <div>
                        <a href="@Url.Action("Category", "Cms", new { categoryId = subCat.Id })">@subCat.Title</a>
                        <a href="@Url.Action("CategoryAdd", "Cms", new { categoryId = subCat.Id })">+</a>
                    </div>
                    foreach (Category subSubCat in subCat.SubCategories)
                    {
                        <div>
                            <a href="@Url.Action("Category", "Cms", new { categoryId = subSubCat.Id })">@subSubCat.Title</a>
                            <a href="@Url.Action("CategoryAdd", "Cms", new { categoryId = subSubCat.Id })">+</a>
                        </div>
                    }
                }
            }
        }
        else if (action.Contains("Article"))
        {
            foreach (Category parent in Model)
            {
                <div>
                    <a>@parent.Title</a>
                    <a>+</a>
                    @{
                        foreach (Article article in parent.Articles)
                        {
                            <div>
                                <a href="@Url.Action("Category", "Cms", new { categoryId = article.Id })">@article.Title</a>
                                <a href="@Url.Action("CategoryAdd", "Cms", new { categoryId = article.Id })">+</a>
                            </div>
                        }
                    }
                </div>
                foreach (Category subCat in parent.SubCategories)
                {
                    <div>
                        <a>@subCat.Title</a>
                        <a>+</a>
                        @{
                            foreach (Article article in subCat.Articles)
                            {
                                <div>
                                    <a href="@Url.Action("Category", "Cms", new { categoryId = article.Id })">@article.Title</a>
                                    <a href="@Url.Action("CategoryAdd", "Cms", new { categoryId = article.Id })">+</a>
                                </div>
                            }
                        }
                    </div>

                    foreach (Category subSubCat in subCat.SubCategories)
                    {
                        <div>
                            <a>@subSubCat.Title</a>
                            <a>+</a>
                            @{
                                foreach (Article article in subSubCat.Articles)
                                {
                                    <div>
                                        <a href="@Url.Action("Category", "Cms", new { categoryId = article.Id })">@article.Title</a>
                                        <a href="@Url.Action("CategoryAdd", "Cms", new { categoryId = article.Id })">+</a>
                                    </div>
                                }
                            }
                        </div>
                    }
                }
            }
        }
    }
</div>