@model PageModel
@{
    Layout = "~/Views/Shared/_PageLayout.cshtml";
    <a asp-controller="Cms" asp-action="ArticleAdd">ADD ARTICLE</a>
    <table class="article-page">
        <thead>
            <tr>
                <th>TITLE</th>
                <th>DESCRIPTION</th>
                <th>CREATED ON</th>
                <th>EDIT</th>
            </tr>
        </thead>
        <tbody class="body">
            @{
                if (Model.SelectedCategory != null)
                {
                    foreach (Article article in Model.SelectedCategory.Articles)
                    {
                        <tr>
                            <th>@article.Title</th>
                            <th>@article.Description</th>
                            <th>@article.Keywords</th>
                            <th><a asp-controller="Cms" asp-action="ArticleEdit" as-route-articleId="@article.Id" class="pencil">&#9998;</a></th>
                        </tr>
                    }
                }
                else
                {
                    foreach (Article article in Model.Articles)
                    {
                        <tr>
                            <th>@article.Title</th>
                            <th>@article.Description</th>
                            <th>@article.Keywords</th>
                            <th><a asp-controller="Cms" asp-action="ArticleEdit" as-route-articleId="@article.Id" class="pencil">&#9998;</a></th>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
}
